{
    "ignorePatterns": [
        "/*",
        "!/src",
        "!/test"
    ],
    "extends": [
        "@js-soft/ts",
        "@js-soft/ts/jest"
    ],
    "parserOptions": {
        "project": [
            "./tsconfig.json"
        ]
    },
    "rules": {}
}